VITE_SUPABASE_URL=https://puewbgczxvlcckspbfzv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1ZXdiZ2N6eHZsY2Nrc3BiZnp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMxODI2NzAsImV4cCI6MjA2ODc1ODY3MH0.HhcBT3mq1glmFAG9mNbflqOnTmdubH-oUVaK4xKv46o
VITE_MAPBOX_TOKEN=pk.eyJ1Ijoic2VwaGlpIiwiYSI6ImNtMzA1NDYzbDBnbnQybHNobnFzMTA1aHYifQ.mdRGirhUhfKki52YsLCfZA
